

.arrow_page_up {
    display: none;
    z-index: 2000;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: .2;
    transition: background .3s, color .3s;
    -webkit-transition: background .3s, color .3s;
    -moz-transition: background .3s, color .3s
}

.arrow_page_up:hover {
    opacity: .4
}

@media only screen and (max-width: 480px) {
    .arrow_page_up {
        bottom: 5px;
        right: 5px
    }
}